*{
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5db13;
    box-shadow: 0px 3px 21px -5px rgba(0,0,0,0.75);
}

header > img {

    width: 64px;
}

header > button {
    background: none;
    cursor: pointer;
}

.navbar{
    display: none;
    font-size: 50px;
}

.navbar > a {
    font-size: 1.5rem;
    margin: 0 20px 0 0;

}

.pikachu {
    max-width: 100%;
}

.link-pokemon {
    width: 300px;
    height: 50px;
    border-radius: 11px;
    background: #73D677;
    box-shadow: 0px 7px 0px #5eaf62; 
    margin-top: 20px;
    font-size: 23px;
    display: flex;    
    align-items: center;    
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;

    
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(#F5DB13, #F2B807);
/*     height: 100%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
}

main > h1 {
    font-size: 42px;
    font-weight: normal;
    padding: 20px 40px;
}

main > p {
    font-size: 24px;
    font-weight: normal;
    padding: 0px 40px;
}

@media(min-width:481px) {
    header {
        padding: 20px 10px;
    }

    header > img {
        width: 128px;
    }

    

@media (min-width: 650px) {
    .navbar{
        display: flex;
    }

    .menu-celular {
        display: none;
    }
}
}